.main_container {
  width: 100%;
  min-height: calc(100vh - 80px);

  padding: 0px 15px 15px 15px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main_wrapper {
  width: 1500px;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .main_wrapper {
    width: 100%;
  }
}
