@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradation-container {
  color: #fff;
  background: linear-gradient(-45deg, #000000, #434343);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;
  width: 100%;
  height: 100%;
  top: 35%;
  padding: 0px 20px;
  background: linear-gradient(137deg, #232526, #414345);
  background-size: 800% 800%;
  border-radius: 10px 10px 10px 10px;
  margin: 10px 0px 0px 0px;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  -o-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  .title-box {
    .title-wrapper {
      .title-text {
        color: white;
        // text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
      }

      .title-subtitle {
        color: white;
        // text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
