.title-box {
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-wrapper {
    display: flex;
    flex-direction: column;

    .title-text {
      font-size: 30px;
      line-height: 30px;
      font-weight: 400;
      margin: 0px 0px 10px 0px;
    }

    .title-subtitle {
      font-size: 13px;
      line-height: 13px;
      font-weight: 300;
    }
  }

  .title-gitchart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;

    .title-gitchart-commit-status {
      font-size: 8px;
      line-height: 8px;
      font-weight: 400;
      padding: 5px 5px;
      position: absolute;
      right: 0px;
      bottom: -15px;
      color: white;

      // &.complete {
      //   background-color: rgb(0, 0, 0);
      // }

      // &.not-complete {
      //   background-color: rgb(220, 63, 63);
      // }
    }
  }

  border-bottom: 1px solid rgba(54, 54, 54, 0.1);
}
