.title-box {
  width: 100%;
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-wrapper {
    .title-text {
      font-size: 30px;
      line-height: 30px;
      margin: 0px 0px 10px 0px;
    }

    .title-subtitle {
      font-size: 15px;
      line-height: 15px;
      font-weight: 400;
    }
  }

  border-bottom: 1px solid rgba(54, 54, 54, 0.1);
}
