.home_inner-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home_title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@keyframes typingAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home_title {
  font-size: 40px;
  line-height: 40px;
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 5px 0px;
  position: relative;

  border-bottom: 1px dotted rgba(54, 54, 54, 0.2);

  &.typing {
    &::after {
      content: "";
      width: 4px;
      height: 100%;
      position: absolute;
      top: 0px;
      right: -10px;

      background-color: rgba(0, 0, 0, 0.9);

      animation: 1s infinite typingAnimation;
    }
  }

  color: rgba(0, 0, 0, 0.9);
}

.home_emphasize_title {
  font-size: 48px;
  line-height: 50px;

  text-shadow: -5px 0px 0 rgb(215, 226, 255);
}

.home_portfolio_button {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  padding: 10px 10px;
  margin: 5px 0px 0px 0px;

  border-radius: 5px;
  border: 1px solid var(--main-button-color);

  background-color: transparent;

  cursor: pointer;
}
