.portfolio-wrapper {
  width: 100%;
  height: 100%;
  margin: 30px 0px 0px 0px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .portfolio-inner-wrapper {
    width: 1500px;
  }

  .portfolio-notion-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;

    .portfolio-notion-image {
      width: 600px;
      height: 338px;
      position: relative;
      border-radius: 8px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .portfolio-notion-image-status {
          bottom: -20px;
        }
      }

      .portfolio-notion-next-image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 8px;
      }

      .portfolio-notion-image-status {
        width: 540px;
        padding: 20px 8px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 5px;

        .portfolio-notion-image-title {
          font-size: 20px;
          line-height: 20px;
          font-weight: 600;
          padding: 0px 0px 12px 0px;
        }

        .portfolio-notion-image-tag-box {
          display: flex;

          .portfolio-notion-image-tag {
            font-size: 15px;
            line-height: 15px;
            margin: 0px 2px;
          }
        }

        transition: bottom 0.2s ease-in-out;
      }

      transition: box-shadow 0.2s ease-in-out;
    }

    .portfolio-notion-status-box {
      padding: 0px 0px 0px 40px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;

      .portfolio-notion-status-date {
        font-size: 12px;
        line-height: 12px;
        position: absolute;
        bottom: 0;
        left: 40px;
      }

      .portfolio-notion-status-title {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        padding: 0px 0px 15px 0px;
        position: relative;

        .portfolio-notion-switch-wrapper {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;

          .portfolio-notion-develop-status {
            font-size: 14px;
            line-height: 20px;
            padding: 0px 8px 0px 0px;
          }

          .portfolio-notion-develop-switch {
            width: 70px;
            height: 20px;
            border-radius: 20px;
            background-color: black;
            position: relative;
            cursor: pointer;

            &.on {
              background-color: rgb(136, 235, 136);

              ::after {
                content: "Develop";
                font-size: 4px;
                line-height: 4px;
                font-weight: 400;
                position: absolute;
                top: 50%;
                right: -42px;
                transform: translateY(-50%);
                color: rgb(29, 58, 29);
              }
            }

            &.off {
              background-color: rgb(220, 63, 63);

              ::after {
                content: "Release";
                font-size: 4px;
                line-height: 4px;
                font-weight: 400;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -41px;
                color: white;
              }
            }

            .portfolio-notion-switch-button {
              width: 18px;
              height: 18px;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              background-color: white;

              &.on {
                left: 1px;
              }

              &.off {
                right: 1px;
              }
            }
          }
        }
      }

      .portfolio-notion-status-description {
        font-size: 15px;
        line-height: 15px;
        padding: 0px 0px 15px 0px;
      }

      .portfolio-stack-list-box {
        display: flex;
        padding: 0px 0px 15px 0px;

        .portfolio-stack-icon {
          width: 50px;
          height: 50px;
          margin: 0px 5px 0px 0px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 40px 40px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          border-radius: 50%;
          display: none;

          &.HTML {
            display: block;
            background-image: url("./images/html5.png");
          }

          &.CSS {
            display: block;
            background-image: url("./images/css.png");
          }

          &.SCSS {
            display: block;
            background-image: url("./images/scss.png");
          }

          &.Styled-Components {
            display: block;
            background-image: url("./images/styledcomponents.png");
          }

          &.TypeScript {
            display: block;
            background-image: url("./images/typescript.png");
          }

          &.JavaScript {
            display: block;
            background-image: url("./images/javascript.png");
          }

          &.PHP {
            display: block;
            background-image: url("./images/php.png");
          }

          &.React {
            display: block;
            background-image: url("./images/react.png");
          }

          &.Next {
            display: block;
            background-image: url("./images/next.png");
          }

          &.Svelte {
            display: block;
            background-image: url("./images/svelte.png");
          }

          &.Electron {
            display: block;
            background-image: url("./images/electron.png");
          }

          &.Three {
            display: block;
            background-image: url("./images/threejs.png");
          }

          &.Notion {
            display: block;
            background-image: url("./images/notion.png");
          }
        }
      }

      .portfolio-feature-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(54, 54, 54, 0.1);

        .portfolio-feature-title {
          font-size: 20px;
          line-height: 20px;
          font-weight: 700;
          padding: 10px 0px 10px 0px;
        }

        .portfolio-feature-tag {
          font-size: 15px;
          line-height: 15px;
          padding: 0px 0px 10px 0px;
        }
      }

      .portfolio-github-button {
        .portfolio-github-icon {
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>');
          color: white;
        }
      }
    }
  }
}
